.vs/raysourceweb/CopilotIndices/17.14.1593.33849/CodeChunks.db
.vs/raysourceweb/CopilotIndices/17.14.1593.33849/SemanticSymbols.db
.vs/raysourceweb/FileContentIndex/768d817a-b4a1-490a-9a91-fc53e5b935d9.vsidx
.vs/raysourceweb/FileContentIndex/876c00a5-ecdc-4710-8706-36e23c337d77.vsidx
.vs/raysourceweb/FileContentIndex/c83b218a-0a40-4ec4-affc-ee9ac97e7c24.vsidx
.vs/raysourceweb/v17/.wsuo
.vs/raysourceweb/FileContentIndex/e1b33145-a064-493c-ad41-1a03f96203ab.vsidx
.vs/raysourceweb/FileContentIndex/2bb60381-4625-41fa-88fa-93c4101984fb.vsidx
.vs/slnx.sqlite
.vs/raysourceweb/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
